.burger {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70vw;
  height: 100vh;
  background-color: #3d4050;
  transition: transition;

  &_active {
    right: 0;
  }

  &__list {
    @include flex-column;
    gap: $gap-xm;
    padding: 6.2rem 0 0 $padding-xl;
    list-style: none;
  }
}

.burger-icon {
  display: none;
  position: relative;
  z-index: 1000;

  @media screen and (max-width: 680px) {
    display: block;
  }
}
