.button {
  @include flex-row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: $border-radius;
  transition: $transition;
  cursor: pointer;

  &_banner {
    width: 183px;
    border: none;
  }

  &_main {
    background-color: $main-color;
    color: $white;
  }

  &_secondary {
    background-color: $white;
    border: 0.1rem solid $dark-grey;

    &:hover {
      border: 0.1rem solid $main-color;
      background-color: $main-color;
      color: $white;
    }
  }

  &_form {
    max-width: 370px;
    grid-column: 2/3;
    border: 1px solid $white;

    @media screen and (max-width: 768px) {
      grid-column: 1;
    }
  }
}
