.form {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: minmax(250px, 370px);
      justify-content: center;
    }
  }

  &__range-block {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 15px;

    grid-column: 1/3;

    @media screen and (max-width: 768px) {
      grid-column: 1;
    }
  }

  &__range-value {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.85);
  }
}

.input {
  height: 48px;
  padding: 12px 10px;
  border: 1px solid $white;
  border-radius: $border-radius-s;
  background-color: $bg-light-grey;

  &::placeholder {
    font-size: 18px;
    line-height: 22px;
    color: #272733;
  }

  &:focus-visible {
    outline: none;
  }
}

.range {
  grid-column: 1/3;
}

.select {
  position: relative;
  height: 48px;
  padding: 12px 10px;
  border: 1px solid $white;
  border-radius: $border-radius-s;
  background-color: $bg-light-grey;
  transition: $transition;
  cursor: pointer;

  &_active {
    background: rgba(61, 64, 80, 0.85);
    border: 1px solid rgba(61, 64, 80, 0.85);
  }

  &__desc {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
  }

  &__current {
    font-size: 18px;
    line-height: 22px;
    color: #272733;

    &_active {
      color: $white;
    }
  }

  &__icon {
    fill: $black;
    transition: $transition;

    &_active {
      rotate: (180deg);
      fill: $white;
    }
  }

  &__body {
    position: absolute;
    left: -1px;
    top: 46px;
    display: none;
    grid-template-columns: minmax(250px, 371px);
    border-radius: 3px;
    border: 1.5px solid rgba(61, 64, 80, 0.85);
    border-top: none;
    background-color: #272733;
    max-height: 220px;
    overflow-y: scroll;

    &_active {
      display: grid;
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar {
      width: 7px;
      border-radius: 3px;
      background: #3d4050;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $main-color;
    }
  }

  &__item {
    padding: 5px 10px;
    color: #ffffff;
    font-size: 18px;
    line-height: 34px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $main-color;
    }
  }
}

input[type='range'] {
  background-color: #f5f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ffffff;
  height: 6px;
  border-radius: 5px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 23px;

    height: 23px;
    background: #42a9ed;
    border: 3px solid #286690;
    border-radius: 50%;
  }
}

//////////////////////////////////////////////////////////

.input-file {
  position: relative;
  @include flex-row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__desc {
    @include flex-row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #272733;
  }
}

.input-file input[type='file'] {
  position: absolute;
  z-index: -1;
}
