.title {
  margin: 0;

  &_banner {
    max-width: 615px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    @media screen and (max-width: 768px) {
      font-size: 39px;
      line-height: 47px;
    }

    @media screen and (max-width: 620px) {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &_main-color {
    color: $main-color;
  }

  &_order {
    font-size: 36px;
    line-height: 43px;
    color: $white;

    @media screen and (max-width: 660px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
